.lrn.lrn_widget.lrn_custom {
  font-size: 20px;
}

/* Number input  */
.lrn.lrn_widget.lrn_custom .input-wrapper {
  margin: 0;
}

.lrn.lrn_widget.lrn_custom .input-wrapper input {
  width: 5rem;
  padding: 7px;
  border-radius: 0 !important;
  border-left-color: transparent !important;
  border: 1px solid rgb(224, 225, 226);
  text-align: center;
}

.lrn.lrn_widget.lrn_custom
  .input-wrapper
  input[type="number"]::-webkit-inner-spin-button,
.lrn.lrn_widget.lrn_custom
  .input-wrapper
  input[type="number"]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.lrn.lrn_widget.lrn_custom .input-wrapper .button.decrease {
  border-radius: 0.28571429rem 0 0 0.28571429rem;
}

.lrn.lrn_widget.lrn_custom .input-wrapper .button {
  outline: none !important;
  font-size: 1.4rem;
  padding: .78571429em;
}

.lrn.lrn_widget.lrn_custom .question-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
}

/* Correct/Incorrect */
.lrn.lrn_widget.lrn_custom .input-wrapper.correct input {
  border: 1px solid rgb(74, 112, 10);
  background: #ebf6e7;
}
.lrn.lrn_widget.lrn_custom .input-wrapper.correct button {
  background:rgb(74, 112, 10);
  color: #ffffff;
}

.lrn.lrn_widget.lrn_custom .input-wrapper.correct button:hover,
.lrn.lrn_widget.lrn_custom .input-wrapper.correct button:focus {
  background:rgb(64, 95, 9);
}

.lrn.lrn_widget.lrn_custom .input-wrapper.correct button:active {
  background:rgb(52, 78, 7);
}


.lrn.lrn_widget.lrn_custom .input-wrapper.incorrect input {
  border: 1px solid rgb(221, 0, 47);
  background: #fbe3e3;
}

.lrn.lrn_widget.lrn_custom .input-wrapper.incorrect button {
  background:rgb(221, 0, 47);
  color: #ffffff;
}

.lrn.lrn_widget.lrn_custom .input-wrapper.incorrect button:hover,
.lrn.lrn_widget.lrn_custom .input-wrapper.incorrect button:focus {
  background:rgb(177, 1, 39);
}

.lrn.lrn_widget.lrn_custom .input-wrapper.incorrect button:active {
  background:rgb(160, 1, 36);
}

/* Input labels */
.lrn.lrn_widget.lrn_custom .input-label {
  padding: 0 1em;
}
